# Node
npm-debug.log

# Mac
.DS_Store

# Windows
Thumbs.db

# vi
*~

# General
log/
*.log

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/project.properties
nbproject/project.xml
# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# Codeigniter
application/config/config.php
application/config/database.php
application/config/routes.php
#Other
img/*
files/*
uploads/*
